body{
	background-color: grey;
	font-family: tahoma;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 40px;
	margin-right: 350px;
}
a: visited {
	color: blue;
	}
a:active {
	background-color: red;
	}
a:hover {
	color: orange;
	font-style: italic;
	}
h2{
	font-weight: bold;
}
h4{
	text-align: justify;
}
.video{
	text-align: center;
}
.fonteh4{
	font-weight: bold;
}
.contatook{
	color: blue;
	font-weight: bold;
	text-align: center;
}
.form{
	font-weight: bold;
	text-align: justify;
}